[user]
	name = lkdjiin
	email = xavier.nayrac@gmail.com
[github]
	user = lkdjiin
[alias]
	co = checkout
	ci = commit
	st = status
	last = log -3 HEAD
	br = branch
  changes = diff --name-status -r
  la = "!git config -l | grep alias | cut -c 7-"
[color]
	ui = true
[core]
	editor = gvim -f
